{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>

    <hr>
<h1> My To Do List </h1>
<a href="{% url 'task-create' %}">Add Items</a>

<table>
    <tr>
        <th>Items</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href= "{% url 'task' task.id %}">View</a></td>
        <td><a href= "{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href= "{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in the List!</h3>
    {% endfor %}
</table>
{% else %}
    <h3>Login to
    <a href="{% url 'login' %}">LogIn</a>
{% endif %}
<h4> Welcome to ToDoList </h4>
